version: 2.0.{build}
image: Visual Studio 2019
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  version_prefix: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
build_script:
- cmd: dotnet build serilog-sinks-log4net.sln --configuration Release
artifacts:
- path: src\Serilog.Sinks.Log4Net\bin\Release\Serilog.Sinks.Log4Net2.*.nupkg
  name: serilog-sinks-log4net2
deploy:
- provider: NuGet
  server: nuget.org
